[Desktop Entry]
Version=1.0
Type=Application
Name=Evoplayer
Comment=Music library and playback
Exec=omarchy-shell shell toggle evo.evoplayer {}
Terminal=false
Icon=audio-headphones
Categories=Audio;AudioVideo;Player;Music;
Keywords=music;player;evoplayer;library;
StartupNotify=true
